[data-dropdown] {
  position: relative;
}

[data-dropdown] .dropdown-menu {
  display: none;
}

[data-dropdown]:hover .dropdown-menu,
[data-dropdown].active .dropdown-menu {
  display: block;
  animation: show-up 0.3s forwards;
}

@keyframes show-up {
  from {
    opacity: 0;
    transform: translate3d(0, 2rem, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.dropdown-menu {
  position: absolute;
  top: 2rem;
  background: #e54;
  border: 0.125rem solid #333;
  z-index: 200;
}

.dropdown-menu::before {
  content: '';
  display: block;
  position: absolute;
  top: -0.5rem;
  width: 0;
  height: 0;
  border-bottom: 0.5rem solid #e54;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
}

.dropdown-menu a:hover {
  color: white;
}
