[data-menu='button'] {
  display: none;
}

@media (max-width: 700px) {
  .js [data-menu='button'] {
    display: flex;
    background: #222;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    margin: 0.5rem;
    align-items: center;
    gap: 0.5rem;
    position: relative;
    z-index: 300;
  }
  .js [data-menu='button']::before {
    content: '';
    display: inline-block;
    height: 0.125rem;
    width: 0.75rem;
    background: #fff;
    box-shadow:
      0 0.25rem #fff,
      0 -0.25rem #fff;
    transition: transform 0.3s;
  }
  .js [data-menu='button'].active::before {
    transform: rotate(90deg);
  }
  .js [data-menu='list'] {
    display: none;
    position: absolute;
    background: #fb5;
    width: 10rem;
    z-index: 200;
    top: 0;
    padding: 3rem 0 1rem 0;
    box-shadow: 0.125rem 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.2);
  }
  .js [data-menu='list'].active {
    display: block;
    animation: show-rigth 0.3s forwards;
  }
  .js .dropdown-menu {
    position: static;
    border: none;
  }
}
