.modal-container {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal-container.ativo {
  display: flex;
}

.modal {
  background: white;
  padding: 2.5rem;
  border: 0.5rem solid #fb5;
  box-shadow: 0 0 0 0.5rem white;
  position: relative;
  min-width: 18rem;
}

.ativo .modal {
  animation: modal 0.3s forwards;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -2rem, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fechar {
  width: 3rem;
  height: 3rem;
  border: 0.25rem solid white;
  border-radius: 50%;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.3);
  position: absolute;
  top: -1.5rem;
  right: -1.5rem;
  background: #e54;
  font-size: 1.2rem;
  color: white;
  font-family: 'IBM Plex Mono', monospace;
  cursor: pointer;
}

.fechar:hover {
  background: #c33;
}

.modal label {
  display: block;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
  margin: 1rem 0 0.5rem 0;
}

.modal input {
  width: 100%;
  padding: 0.7rem 0.5rem;
  box-sizing: border-box;
}

.modal button[type='submit'] {
  display: block;
  background: #e54;
  border: none;
  border-radius: 0.25rem;
  padding: 0.7rem 2rem;
  font-size: 1rem;
  color: white;
  font-family: 'IBM Plex Mono', monospace;
  cursor: pointer;
  margin: 1rem 0 0;
  font-weight: bold;
}

.modal button[type='submit']:hover {
  background: #c33;
}
